@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'EuclidCircularB';
  font-weight: bold;
  src: url('./utils/fonts/Euclid\ Circular\ B\ Bold.ttf');
}

@font-face {
  font-family: 'EuclidCircularB';
  font-weight: normal;
  src: url('./utils/fonts/Euclid\ Circular\ B\ Regular.ttf');
}

@font-face {
  font-family: 'EuclidCircularB';
  font-weight: 500;
  src: url('./utils/fonts/Euclid\ Circular\ B\ Medium.ttf');
}

@font-face {
  font-family: 'EuclidCircularB';
  font-weight: 600;
  src: url('./utils/fonts/Euclid\ Circular\ B\ SemiBold.ttf');
}

@font-face {
  font-family: 'EuclidCircularB';
  font-weight: 300;
  src: url('./utils/fonts/Euclid\ Circular\ B\ Light.ttf');
}



.bg-inherited{ background:inherit}
body,
html {
  box-sizing:border-box;
  height: 100%;
  background-color: #1a1a1a;
  font-family: 'EuclidCircularB';
  color: #fff;
}
.scroller::-webkit-scrollbar{
  width: 8px;
}
.scroller::-webkit-scrollbar-track{
  background-color: #1a1a1a;
  padding: 0 5px;
}
.scroller::-webkit-scrollbar-thumb{
  background-color:#3d3d3d67 ;
  width: 5px;
  border-radius: 20px;
}

.fade-indecator{
-webkit-mask-image:linear-gradient( to bottom, transparent 0%, #000 3%, #000 97%, transparent 100%); 
padding: 10px 0; 
}
